{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}
<div class="banner">
    <div class="main-banner owl-carousel">
      <div class="item"><a href="#"><img src="images/main_banner1.jpg" alt="Main Banner" class="img-responsive" /></a></div>
      <div class="item"><a href="#"><img src="images/main_banner2.jpg" alt="Main Banner" class="img-responsive" /></a></div>
    </div>
  </div>
  <!-- =====  BANNER END  ===== -->
  <!-- =====  CONTAINER START  ===== -->
  <div class="container">
    <!-- =====  SUB BANNER  STRAT ===== -->
    <div class="row">
      <div class="col-sm-3 mt_20 cms-icon ">
        <div class="feature-i-left ptb_30 ">
          <div class="icon-right Shipping"></div>
          <h6>Free Shipping</h6>
          <p>Free delivery worldwide</p>
        </div>
      </div>
      <div class="col-sm-3 mt_20 cms-icon ">
        <div class="feature-i-left ptb_30 ">
          <div class="icon-right Order"></div>
          <h6>Order Online</h6>
          <p>Hours : Anytime</p>
        </div>
      </div>
      <div class="col-sm-3 mt_20 cms-icon ">
        <div class="feature-i-left ptb_30 ">
          <div class="icon-right Save"></div>
          <h6>Shop And Save</h6>
          <p>For large orders</p>
        </div>
      </div>
      <div class="col-sm-3 mt_20 cms-icon ">
        <div class="feature-i-left ptb_30 ">
          <div class="icon-right Safe"></div>
          <h6>Safe Shoping</h6>
          <p>Secure Payment</p>
        </div>
      </div>
    </div>
  </div>
  <!-- =====  CONTAINER END  ===== -->

{% block content %}

{% endblock %}