{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container home-container">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="display-4 logo-font text-center text-white">
                    Welcome to Neon Dreams
                </h1>
                <p class="text-white text-center">Your home for neon canvas prints</p>
                <p class="text-white text-center">Click <a href= "{% url 'subscribe' %}" class=" text-neon-pink">here</a> to subscribe to our newsletter for 10% off your first order!</p>
                <div class="my-5">
                    <h4 class="text-center">
                        <a href="{% url 'prints' %}" class=" no-bg border-neon btn-lg text-uppercase py-3 text-flicker">Start Shopping</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}