{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="mt-5 container mb-2">
        <div class="row">
            <div class="col text-center mb-5">
                <h2 class="logo-font text-center text-neon-pink my-5">My Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-white mb-5">
                {{ profile }}
            </div>
        </div>
        
{% endblock %}