html {
    background-color: #2a2a2a;
    color: white;
    transition-timing-function: ease-in-out;
}

body {
    background: url(/media/background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins';
}

a {
    color: white;
    text-decoration: none !important;
  }

a:hover {
    color: #0059ff;

}

i {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
}

i:hover {
    color:#0059ff;
}

.dropdown-menu {
    background-color: transparent;
}

.dropdown-menu a:hover {
    background-color: transparent;
    color: #0059ff !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.no-bg {
    background-color: transparent !important;
}

.neg-margin {
    margin-left: -17px;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.card {
    transition: transform 300ms linear;
    transition-timing-function: ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.btn-cat {
    transition: transform 300ms linear;
    transition-timing-function: ease-in-out;
    width: 12rem;
    background-color: #2a2a2a;
}

.btn-cat:hover {
    color:white;
    transform: scale(1.1);
    transition: transform 300ms linear;
    transition-timing-function: ease-in-out;
}

.text-white {
    color: white !important;
}

.text-neon-pink {
    color: #fff;
    text-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #be20fc,
      0 0 20px #be20fc,
      0 0 30px #be20fc,
      0 0 50px #be20fc,
      0 0 80px #be20fc;
}

.heart-neon-pink {
    color: #ffffff;
    text-shadow:
      0 0 3px #ffffff,
      0 0 5px #ffffff,
      0 0 10px #be20fc,
      0 0 20px #be20fc,
      0 0 40px #be20fc,
      0 0 70px #be20fc,
      0 0 140px #be20fc,
      0 0 200px #be20fc;
}

.border-neon {
    border: 0.2rem solid #fff;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #be20fc,
                0 0 0.8rem #be20fc,
                0 0 2.8rem #be20fc,
                inset 0 0 1.3rem #be20fc;
}

.text-flicker {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}
  
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #be20fc,
    0 0 80px #be20fc,
    0 0 90px #be20fc,
    0 0 100px #be20fc,
    0 0 150px #be20fc;

    }

    20%, 24%, 55% {        
    text-shadow: none;
    }    
}

.home-container {
    height : 80vh ;
}

.darker-bg {
    background-color: #2a2a2a;
}

.prints-container {
    margin-top: 0 !important;
}

.modal-backdrop.show {
    opacity: .85 !important;
}

.no-bullet {
    list-style-type: none !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-cart,
.remove-print {
    cursor: pointer;
}

.quant-width {
    width: 200px;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #de9cf850;
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* ------  Stripe Styling  ------  */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

.show {
    display: block !important;
}

#store-link {
    color: white;
    cursor: pointer;
}

#store-link:hover {
    color: #0059ff;
}

.navbar-nav {
    padding-left: 20px;
}

#cart-width {
    max-width: 1150px;
}

/* ------  Scrollbar Styling  ------  */

/* ------  Works on Firefox  ------ */
* {
    scrollbar-width: thin;
    scrollbar-color: #0059ff #be20fc;
  }
  
  /* ------ Works on Chrome, Edge, and Safari ------ */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #be20fc;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #de9cf8;
    border-radius: 20px;
    border: 3px solid #be20fc;
  }

/* ------  Disable Number Input Arrows  ------  */

 /* ------ Works on Chrome, Edge, and Safari ------ */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------  Works on Firefox  ------ */
input[type=number] {
  -moz-appearance: textfield;
}


/* ------  Media Queries ------ */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 600px), (max-height: 800px) {
    .logo-font {
        font-size: 2rem;
    }

    .shop-now-button {
        scale: 75%;
    }

    .fas, .fas p {
        scale: 75%;
    }
}

@media (max-width: 991px) {
    .header-container {
        margin-top: 116px !important;
    }
    
    .neg-margin {
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .fas, .fas p {
        scale: 75%;
    }

    .navbar a {
        font-size: 0.75rem;
    }
}

@media (max-width: 300px) {
    .narrow-screen-text {
        font-size: 1rem;
        justify-content: center;
    }
}

@media (max-width: 250px) {
    .logo-font {
    font-size: 1rem;
    }

    .shop-now-button {
        scale: 50%;
    }
}

@media screen and (prefers-reduced-motion) { 
    .border-neon {
      animation: none;
    }
  }
