<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="about-link" aria-haspopup="true" aria-expanded="false">
                HOME
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'prints' %}" id="store-link" aria-haspopup="true" aria-expanded="false">
                PRINTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'prints' %}?sort=price&direction=asc" class="text-white dropdown-item">By Price</a>
                <a href="{% url 'prints' %}?sort=likes" class="text-white dropdown-item ">By Popularity</a>
                <a href="{% url 'prints' %}?sort=category&direction=asc" class="text-white dropdown-item ">By Category</a>
                <a href="{% url 'prints' %}" class="text-white dropdown-item">All Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="about-link" aria-haspopup="true" aria-expanded="false">
                ABOUT US
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="blog-link"  aria-haspopup="true" aria-expanded="false">
                BLOG
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="contact-link" aria-haspopup="true" aria-expanded="false">
                CONTACT US
            </a>
        </li>
    </ul>
</div>