{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="mt-5 container mb-2">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font text-center text-neon-pink my-5">About Us</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 border-neon bg-dark p-4">
                <p class="text-white">Welcome to Neon Dreams, your one-stop-shop for stunning neon images on canvas. 
                                      We're a small but passionate team of artists and designers who are dedicated to 
                                      creating unique and eye-catching neon art pieces that will add a pop of color to any room.
                </p>
                <p class="text-white">Our neon images are created using the latest technology and highest quality materials, 
                                      resulting in a truly unique and long-lasting product. Each canvas is carefully crafted 
                                      and inspected by our team to ensure that it meets our high standards before being shipped to you.
                </p>
                <p class="text-white">At Neon Dreams, we believe that art should be accessible to everyone, which is why we offer a wide
                                      range of images to suit every taste and budget. From bright and bold designs to subtle and 
                                      sophisticated ones, we have something for everyone.
                </p>
                <p class="text-white">We're committed to providing our customers with exceptional service and support, 
                                      so if you have any questions or concerns, please don't hesitate to contact us. 
                                      We're always here to help.
                </p>
                <p class="text-white">Thank you for choosing Neon Dreams for your art needs. We can't wait to see
                                      how our neon images brighten up your space!
                </p>
                <h6 class="text-white">Click 
                    <a href="https://www.privacypolicygenerator.info/live.php?token=6oQKKnzGOpDXdxDG0tjjuGOwxZI8y6G8" class="text-neon-pink">here</a> 
                    to view the Neon Dreams Privacy Policy
                </h6>

            </div>
        </div>
    </div>   
{% endblock %}